body {
    line-height: 1.5em;
    font-size: 21px;
}

#logo {
    width: 100px;
    height: 100px;
}

.logo {
    width: 100px;
    height: 100px;
}

.block {
    max-width: 55em;
    display: block;
}

button {
    width: 125px;
    
}

h1 {
   
}

.introCard {
    width: 50%;
}

#mike {
    border-radius: 25%;
    height: 25%;
    width: 25%;
}

.about {
    max-width: 30em;
}

.larger {
    max-width: 25em;
}

.projectImg {
    max-height: 340px;
}

.link {
    color: black;
}




